<%- include('./partials/header0.ejs') %>
    <%- include('./partials/header1.ejs') %>

            <h1>Register</h1>

            <%- include('./partials/error_partial.ejs') %>

            <form method="POST" action="/auth/register">
                <div style="margin-top: 15px;">
                    <label for="email">email</label>
                    <input type="email" name="email" value="<%= email %>" />
                    
                    <label for="password">password</label>
                    <input type="password" name="password" />
                    
                    <label for="verification">password verification</label>
                    <input type="password" name="verification" />
                </div>

                <input type="submit" value="Submit!" />
            </form>

            <form action="/auth/login" style="margin-top: 20px;">
                <input type="submit" value="Login" />
            </form>
<%- include('./partials/footer.ejs') %>