<%- include('./partials/header0.ejs') %>
    <%- include('./partials/header1.ejs') %>

            <h1>Register</h1>

            <%- include('./partials/error_partial.ejs') %>

            <form method="POST" action="/auth/register">
                <div style="margin-top: 15px;">
                    <label for="email">email</label>
                    <input type="email" name="email" value="<%= email %>" style="width:300px;border: 1px solid #000000 !important;"/>
                    
                    <label for="password">password</label>
                    <input type="password" name="password" class="inputbox" />
                    
                    <label for="verification">password verification</label>
                    <input type="password" name="verification" class="inputbox"/>
                </div>

                <input type="submit" value="Submit!" />
            </form>

            <div style="margin-top: 20px;">
                <h6>Navigate to</h6>
                <form action="/auth/login">
                    <input type="submit" value="Login" />
                </form>
            </div>
<%- include('./partials/footer.ejs') %>