
<h1>Summary!</h1>

<h2>Weekly average for <%= week_summary %> </h2>

<ul>
    <li>Average sleep duration: <%= sleep_duration_week_avg %> </li>
    <li>Average time spent on sports and exercise: <%= sport_time_week_avg %> </li>
    <li>Average time spent studying: <%= study_time_week_avg %> </li>
    <li>Average sleep quality: <%= sleep_quality_week_avg %> </li>
    <li>Average generic mood: <%= mood_week_avg %>  </li>
</ul>

<h2>Monthly average for <%= month_summary %> </h2>

<ul>
    <li>Average sleep duration: <%= sleep_duration_month_avg %> </li>
    <li>Average time spent on sports and exercise: <%= sport_time_month_avg %> </li>
    <li>Average time spent studying: <%= study_time_month_avg %> </li>
    <li>Average sleep quality: <%= sleep_quality_month_avg %> </li>
    <li>Average generic mood: <%= mood_month_avg %>  </li>
</ul>

<a href="/behavior/reporting">report</a>
<a href="/auth/login">login</a>